$color-background: white;
$color-dark: black;
$breakpoint-mobile-min: 320px;
$breakpoint-mobile-max: 480px;
$breakpoint-tablet-min: 481px;
$breakpoint-tablet-max: 768px;
$breakpoint-laptop-min: 769px;
$breakpoint-laptop-max: 1024px;
$breakpoint-desktop-min: 1025px;
$font-nice: 'Dancing Script', cursive;
$font-normal: Arial, sans-serif;